*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* Shared Styles */
  .home-btn{
    background-color: rgba(230, 83, 60, 1);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 2rem;

  }

  /* Navigation Bar Styling */

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    background: linear-gradient(45deg, #111, #222 , #111);
    padding: 3% 13%;
  }

  .nav-header{
    font-size: 2.25rem;
    font-weight: 1000;
    color: rgba(230, 83, 60, 1);
    font-style: italic;

  }

  .navbar-menu{
    border: 0.1px solid #332f2f;
    border-radius: 30px;
    background-color: #000;
    padding: 12px;
  }
  .menu{
    text-decoration: none;
    color: #fff;
    padding-left: 50px;
  }

  .hamburger-menu{
    color: #fff;
    display: none;
  }