*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background-color: #000;
    color: #fff;
  }

  /* Shared Styles */
  .orange-btn{
    background-color: rgba(230, 83, 60, 1);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 2rem;

  }
  .text-center{
    text-align: center;
  }

  .description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3px;
  }

  .section-heading{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

  }

/* Header style started here */

  header{
    margin: 0 auto;
  }

  /* Navigation Bar Styling */

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #111, #111 );
    padding: 3% 13%;
  }

  .nav-header{
    font-size: 2.25rem;
    font-weight: 1000;
    color: rgba(230, 83, 60, 1);
    font-style: italic;

  }

  .navbar-menu{
    border: 0.1px solid #332f2f;
    border-radius: 30px;
    background-color: #000;
    padding: 12px;
  }
  .menu{
    text-decoration: none;
    color: #fff;
    padding-left: 50px;
  }

  .hamburger-menu{
    color: #fff;
    display: none;
  }

  /* Banner Styling */
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    color: #fff;
    background: linear-gradient(0deg, #111, #222 , #111);
    padding: 3% 9%;
  }
.banner-left{
  width: 50%;
}
  .banner-left>h1{
    font-size: 5rem;
    margin-bottom: 4%;
  }
/* Miama Font Added Here */
  @font-face {
    font-family: Miama;
    src: url(../font/Miama.ttf);
  }
  
  .banner-left>h1>span{
    font-family: Miama;
    font-size: 11rem;
    font-weight: 400;
    line-height: 0;
  }

  .join-btn{
    padding: 15px 40px;
    margin: 4% 5% 4% 0;
  }

 #small-join-btn{
  display: none;
 }

  .download-btn{
    padding: 16px 40px;
    border: 1px solid #fff;
    border-radius: 40px;
    background: none;
    color: #fff;
    position: relative;
  }


 


 


  /* Banner Image Styling Here */

  .banner-image{
    width: 50%;
    position: relative;
  }

  .banner-cart{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: grid;
    place-items: center;
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
  }

  .banner-cart span{
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
  }

  .banner-cart2{
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 206px;
    height: 96px;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    position: absolute;
    margin-left:-4%;
    margin-top: 33%;
    }
    .red-sign{
      background-color: rgb(230, 83, 60);
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    .play-button{
      display: none;
      background-color: rgb(230, 83, 60);
      padding: 10px 13px;
      border-radius: 50%;
    }

    .banner-cart2 p span{
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 0.4px;
      color: #fff;
    }
  

    /* Habit section design start here */

    .habit{
      padding-top: 100px;
      background:linear-gradient(#111, #000);
      color: #fff;
    }

.habit-images{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  padding: 5% 13%;
  gap: 8%;
  width: 100%;
} 

.habit-images div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.habit-img{
  border-radius: 100%;
}



/* Running-Section is Designed here .................*/

.running-section{
  background-color: #333;
  margin: 3% 14%;
  display: flex;
  border-radius: 18px;

}

.run-left-sec{
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 3% 3%;
}

.run-img-div{
  padding: 3%;
  width: 100%;
}

.running-img{
  width: 100%;
  border-radius: 18px;
}





/*Exercises Section Designed Here ..............................................*/

.training-exercises{
  position: relative;
  padding: 3% 13%;
}
.training-exercises>h1{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.exercises{
  margin-top: 50px;
}
.exercises>div{
  display: flex;
}
/* Div Number 1 ------------------------------ */
.parent-div-1{
  width: 25%;
  height: 200px;
  background: url(../images/exercise1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.child-div-1{
  width: 100%;
  height: 100%;
  background-color: rgba(6, 255, 210, 0.5);
}

/* Div Number 2---------------------------------- */
.parent-div-2{
  width: 50%;
  height: 200px;
  background: url(../images/exercise2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.child-div-2{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
}


/* div number 3------------------------------ */
.parent-div-3{
  width: 25%;
  height: 200px;
  background: url(../images/exercise3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


/* Div number 4------------------------------------- */
.parent-div-4{
  width: 40%;
  height: 200px;
  background: url(../images/exercise4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* div number 5--------------------------------- */
.parent-div-5{
  width: 25%;
  height: 200px;
  background: url(../images/exercise5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.child-div-5{
  width: 100%;
  height: 100%;
  background-color: rgba(66, 255, 0, 0.3);
}


/* Div number 6--------------------- */
.parent-div-6{
  width: 35%;
  height: 200px;
  background: url(../images/exercise6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.child-div-6{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 71, 255, 0.3);
}

.exercise-name{
  font-size: 1.5em;
  text-align: center;
}
/* BMI calculator section designed here............... */

.bmi-header-section{
  padding-left: 25%;
}
.bmi-header-section>h1{
  font-size: 3rem;
  font-weight: 900;
}

.bmi-calculator{
  padding: 3% 13%;
  display: flex;
  background-color: rgb(34, 34, 34);
  margin-top: 88px;
}
.bmi-chart>h1,.bmi-calculator-chart>h1{
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 50px;
}

table,td,th{
  border: 1px solid #fff;
  border-collapse: collapse;
}

th,td{
  padding: 10px  10px;
}

.bmi-calculator-chart{
  margin-left: 20%;
}

.bmi-calculator-chart p{
  margin-bottom: 30px;
}
.sex-selection{
  width: 39%;
  height: 40px;
}
label,select{
  margin-top: 5px;
  border-radius: 8px;
}
input{
  padding: 3px;
  border-radius: 8px;
  height: 40px;
}
input,select{
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
}
.activity-selection{
  width: 79%;
  height: 40px;
}

.calculate-btn{
  padding: 10px 20%;
  margin-top: 30px;
}
/* Meet Our Trainers Section Started Here */

.trainers{
  padding: 3% 13%;
  
}

.trainer-img-parent{
  background-color: #333;
  /* position: relative; */
  border-radius: 18px;
  margin-top: 70px;
}

.trainer-img-parent>div{
  display: flex;
}

.trainers-div2{
  margin-bottom: 1%;
}

.bg-style{
  width: 32%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  margin: 1% 0 0 1%;
}


.trainer-1{
  background-image: url(../images/trainer1.png);
}
.trainer-2{
  background-image: url(../images/trainer2.png);
}
.trainer-3{
  background-image: url(../images/trainer3.png);
}
.trainer-4{
  background-image: url(../images/trainer4.png);
}
.trainer-5{
  background-image: url(../images/trainer5.png);
}
.trainer-6{
  background-image: url(../images/trainer6.png);
}


.bg-style>h1{
  position: relative;
  padding: 50% 0 0 10%;
  font-weight: 900;
  text-shadow: 1px 1px #000;
}
.bg-style>p{
  padding-left: 10%;
}


/* Office section Added here */
.office-img-parent{
  margin: 40px 0;
  padding: 3% 13%;
  background-color: rgba(135, 135, 127, 0.396);
}
.office-heading{
  font-size: 2rem;
  color: #acbaf4;
  text-align: center;
  text-shadow: 2px 2px rgb(185, 241, 185);
}
.img-div{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.office-image1{
  background: url(../images/gymnasium1.jpg);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}
.office-image2{
  background: url(../images/gymnasium2.jpg);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}
.office-image3{
  background: url(../images/gymnasium3.jpg);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}
.office-image4{
  background: url(../images/gymnasimu4.png);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}
.office-image5{
  background: url(../images/gymnasium5.png);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}
.office-image6{
  background: url(../images/gymnasium6.jpg);
  height: 200px;
  width: 30%;
  border-radius: 50px;
  background-position: center;
}


/* Footer section designed Here */
footer{
  background-color: rgba(255, 255, 255, 0.1);
}
.footer{
  display: flex;
  margin: 0 13%;
  padding: 3% 0;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  
}
.footer-left{
  width: 60%;
  padding-right: 10%;
}
.footer-left>h1{
  font-size: 5rem;
  font-weight: 800;
  color:#E6533C ;

}

.footer-right{
  display: flex;
  gap: 10%;
  width: 100%;
}
.footer-right-child{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.footer-right h1{
  font-size: 2.4rem;
}
.footer+p{
  padding: 40px 0;
}

